services:
  minis3:
    build:
      context: ../..
      dockerfile: integration/s3-test/Dockerfile.minis3
    ports:
      - "9000:9000"
    environment:
      - MINIS3_LC_DEBUG_INTERVAL_SECONDS=1
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "/dev/null", "http://localhost:9000/"]
      interval: 2s
      timeout: 5s
      retries: 5

  s3tests:
    build:
      context: .
      dockerfile: Dockerfile.s3tests
    depends_on:
      minis3:
        condition: service_healthy
    environment:
      - S3TEST_CONF=/s3tests.conf
      - >-
        PYTEST_ADDOPTS=
        --deselect=s3tests/functional/test_s3.py::test_bucket_policy_set_condition_operator_end_with_IfExists
        --deselect=s3tests/functional/test_s3.py::test_bucket_policy_put_obj_request_obj_tag
        --deselect=s3tests/functional/test_s3.py::test_bucket_policy_deny_self_denied_policy
        --deselect=s3tests/functional/test_s3.py::test_bucket_policy_deny_self_denied_policy_confirm_header
        --deselect=s3tests/functional/test_s3.py::test_lifecycle_cloud_transition
        --deselect=s3tests/functional/test_s3.py::test_lifecycle_cloud_multiple_transition
        --deselect=s3tests/functional/test_s3.py::test_lifecycle_cloud_transition_large_obj
        --deselect=s3tests/functional/test_s3.py::test_read_through
        --deselect=s3tests/functional/test_s3.py::test_put_bucket_logging
        --deselect=s3tests/functional/test_s3.py::test_put_bucket_logging_errors
        --deselect=s3tests/functional/test_s3.py::test_put_bucket_logging_extensions
        --deselect=s3tests/functional/test_s3.py::test_put_bucket_logging_tenant_s
        --deselect=s3tests/functional/test_s3.py::test_put_bucket_logging_tenant_j
        --deselect=s3tests/functional/test_s3.py::test_put_bucket_logging_account_s
        --deselect=s3tests/functional/test_s3.py::test_put_bucket_logging_account_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_mtime
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_simple_key
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_partitioned_key
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_bucket_auth_type
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_bucket_acl_required
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_object_acl_required
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_key_filter_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_key_filter_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_flush_empty
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_flush_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_flush_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_flush_j_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_flush_s_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_concurrent_flush_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_concurrent_flush_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_concurrent_flush_j_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_concurrent_flush_s_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_put_and_flush
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_owner
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_permission_change_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_permission_change_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_put_objects
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_put_objects_versioned
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_put_concurrency
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_delete_objects
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_delete_objects_versioned
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_get_objects
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_get_objects_versioned
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_copy_objects
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_copy_objects_versioned
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_copy_objects_bucket
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_copy_objects_bucket_versioned
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_head_objects
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_head_objects_versioned
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_mpu_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_mpu_versioned_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_mpu_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_mpu_versioned_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_mpu_copy
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_mpu_copy_versioned
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_multi_delete
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_multi_delete_versioned
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_event_type_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_event_type_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_roll_time
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_multiple_prefixes
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_single_prefix
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_object_meta
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_bucket_deletion_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_bucket_deletion_j_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_disabling_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_disabling_j_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_updating_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_updating_j_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_notupdating_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_notupdating_j_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_bucket_deletion_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_bucket_deletion_s_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_disabling_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_disabling_s_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_updating_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_updating_s_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_notupdating_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_notupdating_s_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_target_cleanup_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_target_cleanup_j_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_target_cleanup_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_target_cleanup_s_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_bucket_concurrent_deletion_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_bucket_concurrent_deletion_j_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_concurrent_disabling_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_concurrent_disabling_j_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_concurrent_updating_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_concurrent_updating_j_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_bucket_concurrent_deletion_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_bucket_concurrent_deletion_s_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_concurrent_disabling_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_concurrent_disabling_s_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_concurrent_updating_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_cleanup_concurrent_updating_s_single
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_concurrent_updating_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_concurrent_disabling_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_concurrent_deletion_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_concurrent_updating_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_concurrent_disabling_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_concurrent_deletion_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_updating_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_disabling_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_deletion_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_updating_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_disabling_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_part_cleanup_deletion_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_conf_updating_roll_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_conf_updating_roll_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_conf_updating_pfx_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_conf_updating_pfx_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_conf_concurrent_updating_roll_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_conf_concurrent_updating_roll_j
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_conf_concurrent_updating_pfx_s
        --deselect=s3tests/functional/test_s3.py::test_bucket_logging_conf_concurrent_updating_pfx_j
