name: Check
on:
  push:
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - ".golangci.yaml"
      - "Taskfile.yaml"
      - ".github/workflows/check.yaml"

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
            path: ~/.local/share/aquaproj-aqua
            key: v2-aqua-installer-${{runner.os}}-${{runner.arch}}-${{hashFiles('aqua.yaml')}}
            restore-keys: |
              v2-aqua-installer-${{runner.os}}-${{runner.arch}}-

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
            aqua_version: v2.56.6

      - name: Run lint
        run: task lint

  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
            path: ~/.local/share/aquaproj-aqua
            key: v2-aqua-installer-${{runner.os}}-${{runner.arch}}-${{hashFiles('aqua.yaml')}}
            restore-keys: |
              v2-aqua-installer-${{runner.os}}-${{runner.arch}}-

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
            aqua_version: v2.56.6

      - name: Run test
        run: |
          task unit-test &&
          task sdk-test
